
<section class="registrationComponent">
  <h2>You wanna deep dive in my software? </h2>
  <form action="POST">
    <div class="formgroup"> 
      <label>Username: </label>
      <input type="text" name="username"/>
    </div>
    <div class="formgroup"> 
      <label>E-Mail:  </label>
      <input type="email" name="email"/>
    </div>
    <div class="formgroup">
      <label>Password: </label>
      <input type="password" name="password"/>
    </div>
    <div class="formgroup">
      <label>Repeat Password: </label>
      <input type="password" name="repeatPassword"/>
    </div>
    <div class="formgroup">
      <input type="submit" value="Register" name="registerBtn"/>
    </div>
  </form>
</section>